<h1>Daftar Menu</h1>
<div class="menu-list">
    <div class="card" *ngFor="let menu of menus">
        <div class="card-img">
            <img src="{{ menu.image }}" alt="">
        </div>
        <div class="card-body">
            <h3 class="card-title"><a href="/menu/{{ menu.id }}">{{ menu.recipe_name }}</a></h3>
            <p class="card-price">Rp. {{ menu.price }}</p>
        </div>
        <div class="card-footer">
            <form action="" [formGroup]="cartForm">
                <div class="amount-form">
                    <h4>Order</h4>
                    <label for="amount-form">Jumlah</label>
                    <input type="number" id="amount-form" placeholder="Amount to buy" formControlName="amount" required>
                    <label for="note-form">Note</label>
                    <input type="text" id="note-form" placeholder="Give your note" formControlName="note" required>
                </div>
                <button id="{{ menu.id }}" class="amount-button" type="button" (click)="add($event)">Add to Cart</button>
            </form>
        </div>
    </div>
</div>
