@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

app-navigation{
    font-family: 'Poppins', sans-serif;
}

main{
    font-family: 'Poppins', sans-serif;
}

.dark{
    background-color: rgba(27,28,30,255);
}

footer{
    background-color: #5C7AEA ;
    font-size: 20px;
    padding: 15px;
    color: white;
    text-align: center;
    margin-top: auto;
}