<header>
    <nav>
        <div class="nav-title">
            <button id="hamburger-icon" aria-label="toggle navbar"><img src="../../assets/images/hamburger_icon.png"
                    alt=""></button>
            <a href="/">
                <h1>Restaurant Title</h1>
            </a>
        </div>
        <ul class="nav-link">
            <li><a href="/menu">Menu List</a></li>
            <li><a href="/cart">Cart</a></li>
            <li><a href="/login">Login/Logout</a></li>
        </ul>
    </nav>
</header>