@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

.home-container{
    padding: 30px;
    color: white;
}
.home-container > h1 {
    font-family: 'Merriweather', serif;
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
}

.promote-item{
    display: flex;
    /* border: 1px solid white; */
    box-shadow: 0px 0px 5px rgba(255,250,250);
    margin: 70px 30px;
}

.promote-item > .article-img > img{
    height: 350px;
}

.promote-item > .article-body{
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.promote-item > .article-body > h2{
    text-align: center;
    font-size: 28px;
}

.img-right{
    flex-direction: row-reverse;
}

.betawi > .article-img > img{
    height: 250px;
}

.padang > .article-img > img{
    height: 250px;
}

.sunda > .article-img > img{
    height: 250px;
}

@media only screen and (max-width: 900px) {  
    .promote-item{
        flex-direction: column;
    }

    .promote-item > .article-img > img{
        display: block;
        margin: auto;
    }
    
}
