<div class="home-container">
    <h1>Explore Indonesian Nusantara Foods</h1>
    <section class="promote">
        <article class="promote-item rempah">
            <figure class="article-img">
               <img src="../../../assets/img/home/rempah.jpg" alt="rempah rempah"> 
            </figure>
            <article class="article-body">
                <h2>Rempah-Rempah</h2>
                <p>Indonesia adalah negara yang kaya akan hasil rempah-rempah. Tak heran kalau rempah-rempah Indonesia digunakan juga sebagai bumbu untuk memasak. Hal inilah yang menjadi ciri khas masakan Nusantara yaitu penggunaan bumbu rempah-rempah yang banyak. Beberapa jenis rempah dari Indonesia diantaranya adalah sereh, kunyit, lengkuas, jahe, daun salam, lada, ketumbar dan sebagainya. Masakan nusantara restoran kami hanya menggunakan rempah rempah pilihan yang sudah terbukti kualitasnya. </p>
            </article>
        </article>
        <article class="promote-item img-right padang">
            <figure class="article-img">
               <img src="../../../assets/img/home/padang.jpg" alt="masakan padang"> 
            </figure>
            <article class="article-body">
                <h2>Masakan Padang</h2>
                <p>Rasa pedas sangat identik dengan ciri khas Masakan Padang, hal ini tentu ada asal usulnya. Sejak dulu, daerah asal Minangkabau terbagi menjadi 3, yang dikenal sebagai luhak nan tigo, yaitu Luhak Agam, Luhak Limapuluh Kota dan Luhak Tanah Datar. Asal usul masakan Minang berasal dari 3 daerah tersebut yang mana merupakan daerah dataran tinggi dan juga disebut darek. Daerah darek dikelilingi oleh hawa dingin, oleh karena itu dibutuhkan sesuatu yang hangat bagi penduduknya.</p>
            </article>
        </article>

        <article class="promote-item betawi">
            <figure class="article-img">
               <img src="../../../assets/img/home/betawi.jpg" alt="masakan betawi"> 
            </figure>
            <article class="article-body">
                <h2>Masakan Betawi</h2>
                <p>Betawi yang dikenal sebagai suku asli kota Jakarta mempunyai beragam kuliner yang cukup terkenal. Sejarah betawi yang begitu dinamis juga sangat mempengaruhi warisan kulinernya. Makanan Khas Betawi dipengaruhi oleh budaya Cina, Eropa, dan Arab. Citarasa gurih dan sedap merupakan ciri khas makanan Betawi.
                Sebenarnya, Betawi memiliki banyak makanan khas yang lezat. Namun, seiring perkembangan pesat kota Metropolitan Jakarta yang sekaligus ibukota negara Indonesia ini, Makanan Khas Betawi sudah banyak yang langka bahkan nyaris punah. </p>
            </article>
        </article>

        <article class="promote-item img-right sunda">
            <figure class="article-img">
               <img src="../../../assets/img/home/sunda.webp" alt="masakan padang"> 
            </figure>
            <article class="article-body">
                <h2>Masakan Sunda</h2>
                <p>Makanan Sunda memiliki ciri kesegaran bahannya, lalap terkenal dimakan dengan sambal dan juga karedok menunjukkan kegemaran orang Sunda terhadap sayuran mentah segar. Berbeda dengan masakan Minangkabau, Masakan Aceh, maupun Masakan Gorontalo yang kaya rasa dan pedas dengan kandungan santan yang kental atau bumbu kari yang gurih, masakan Sunda menampilkan citarasa yang ringan, sederhana, dan jelas.</p>
            </article>
        </article>
    </section>

    
    
</div>
