<div class="home-container">
    <h1>Explore Indonesian Nusantara Foods</h1>
    <section class="promote">
        <article class="promote-item rempah">
            <figure class="article-img">
               <img src="../../../assets/img/home/rempah.jpg" alt=""> 
            </figure>
            <article class="article-body">
                <h2>Judul Artikel</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde modi repellat provident corporis reprehenderit autem saepe magnam, laboriosam alias necessitatibus, ad eum ex fugiat corrupti, minus blanditiis mollitia. Obcaecati dolorum quod voluptatibus consectetur tempora reprehenderit non et impedit officia, odit praesentium vitae optio amet minus veniam, doloribus rerum voluptate. Et! Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus voluptate quisquam placeat enim rem doloribus! Veritatis voluptatem quod earum nobis delectus animi, expedita fuga, nam ad dolores accusamus, accusantium facilis?</p>
            </article>
        </article>
        <article class="promote-item sunda">
            <figure class="article-img">
               <img src="../../../assets/img/home/rempah.jpg" alt=""> 
            </figure>
            <article class="article-body">
                <h2>Judul Artikel</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde modi repellat provident corporis reprehenderit autem saepe magnam, laboriosam alias necessitatibus, ad eum ex fugiat corrupti, minus blanditiis mollitia. Obcaecati dolorum quod voluptatibus consectetur tempora reprehenderit non et impedit officia, odit praesentium vitae optio amet minus veniam, doloribus rerum voluptate. Et! Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus voluptate quisquam placeat enim rem doloribus! Veritatis voluptatem quod earum nobis delectus animi, expedita fuga, nam ad dolores accusamus, accusantium facilis?</p>
            </article>
        </article>
    </section>
    
</div>
