/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html { 
  height: 100%; 
}

body{
  min-height: 100%;
}

app-root{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
